@{
    ViewData["Title"] = "Financial Record Listing";
}

<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-block btn-primary" onclick="New()">Create Financial Record Item</button>
<br/><br/>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Type</th>
        <th>#</th>
        <th>#</th>
    </tr>

    @{
        foreach (var item in (List<FinancialRecordModel>)ViewBag.ListFinancialRecords) {
            <tr>
                <td>@item.Id</td>
                <td>@item.Description</td>
                <td>@item.Type</td>
                <td><button type="button" class="btn btn-block btn-outline-warning" onclick="Update(@item.Id.ToString())">Update</button></td>
                <td><button type="button" class="btn btn-block btn-outline-danger" onclick="Delete(@item.Id.ToString())">Delete</button></td>
            </tr>
        }
    }
</table>


<script>
    function New() {
        window.location.href = "/FinancialRecord/Register";
    }
    function Update(id){
        window.location.href = "/FinancialRecord/Register/" + id;
    }
    function Delete(id){
        window.location.href = "/FinancialRecord/Delete/" + id;
    }
</script>


